<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>target/gatling-log/gatling.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
            <immediateFlush>false</immediateFlush>
        </encoder>
    </appender>

    <logger name="io.gatling.http" level="TRACE" />
    <logger name="no.nav.sbl.gatling" level="DEBUG" />
    <logger name="simulations" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>

</configuration>