# ref https://raw.githubusercontent.com/nais/naiserator/master/examples/nais-max.yaml
apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: veilarbportefolje
  namespace: obo
  labels:
    team: obo
spec:
  image: {{image}}
  replicas:
    min: 3
    max: 3
    cpuThresholdPercentage: 50
  port: 8080
  ingresses:
    - https://veilarbportefolje.intern.nav.no
  webproxy: true
  leaderElection: true
  observability:
    logging:
      destinations:
        - id: elastic
        - id: loki
  secureLogs:
    enabled: true
  kafka:
    pool: nav-prod
  envFrom:
    - secret: veilarbportefolje-unleash-api-token
  liveness:
    path: veilarbportefolje/internal/isAlive
    initialDelay: 60
    timeout: 10
  readiness:
    path: veilarbportefolje/internal/isReady
    initialDelay: 60
    timeout: 10
  prometheus:
    enabled: true
    path: veilarbportefolje/internal/prometheus
  openSearch:
    access: admin
    instance: veilarbportefolje
  gcp:
    sqlInstances:
      - type: POSTGRES_15
        tier: db-custom-8-53248
        databases:
          - name: veilarbportefolje
            envVarPrefix: DB
  azure:
    application:
      allowAllUsers: true
      enabled: true
      claims:
        extra:
          - NAVident
          - azp_name
  accessPolicy:
    inbound:
      rules:
        - application: veilarbportefoljeflatefs
          namespace: obo
        - application: veilarbpersonflate
          namespace: poao
        - application: poao-admin
          namespace: poao
          cluster: prod-gcp
        - application: inngar
          namespace: dab
          cluster: prod-gcp
    outbound:
      rules:
        - application: kodeverk-api
          namespace: team-rocket
        - application: pdl-api
          namespace: pdl
          cluster: prod-fss
        - application: veilarbvedtaksstotte
          namespace: obo
        - application: veilarbarena
          namespace: pto
          cluster: prod-fss
        - application: veilarbveileder
          namespace: pto
          cluster: prod-fss
        - application: poao-tilgang
          namespace: poao
        - application: paw-arbeidssoekerregisteret-api-oppslag
          namespace: paw
        - application: veilarboppfolging
          namespace: poao
        - application: veilarbveileder
          namespace: obo
        - application: familie-ef-sak
          namespace: teamfamilie
        - application: aap-api-intern
          namespace: aap
      external:
        - host: team-obo-unleash-api.nav.cloud.nais.io
        - host: pdl-api.prod-fss-pub.nais.io
        - host: veilarbarena.prod-fss-pub.nais.io
  resources:
    limits:
      memory: 10Gi
    requests:
      cpu: "1"
      memory: 4Gi
  env:
    - name: JAVA_OPTS
      value: "-Xms4096m -Xmx10144m --illegal-access=permit --add-opens=java.base/java.lang=ALL-UNNAMED"
    - name: VEILARBOPPFOLGING_URL
      value: "http://veilarboppfolging.poao/veilarboppfolging"
    - name: VEILARBOPPFOLGING_TOKEN_SCOPE
      value: "api://prod-gcp.poao.veilarboppfolging/.default"
    - name: VEILARBVEDTAKSSTOTTE_URL
      value: "http://veilarbvedtaksstotte.obo/veilarbvedtaksstotte"
    - name: VEILARBVEDTAKSSTOTTE_TOKEN_SCOPE
      value: "api://prod-gcp.obo.veilarbvedtaksstotte/.default"
    - name: VEILARBVEILEDER_URL
      value: "http://veilarbveileder.obo/veilarbveileder"
    - name: VEILARBVEILEDER_TOKEN_SCOPE
      value: "api://prod-gcp.obo.veilarbveileder/.default"
    - name: VEILARBARENA_URL
      value: "https://veilarbarena.prod-fss-pub.nais.io/veilarbarena"
    - name: VEILARBARENA_TOKEN_SCOPE
      value: "api://prod-fss.pto.veilarbarena/.default"
    - name: PDL_URL
      value: "https://pdl-api.prod-fss-pub.nais.io"
    - name: PDL_TOKEN_SCOPE
      value: "api://prod-fss.pdl.pdl-api/.default"
    - name: POAO_TILGANG_URL
      value: "http://poao-tilgang.poao"
    - name: POAO_TILGANG_TOKEN_SCOPE
      value: "api://prod-gcp.poao.poao-tilgang/.default"
    - name: KODEVERK_URL
      value: "http://kodeverk-api.team-rocket"
    - name: KODEVERK_SCOPE
      value: "api://prod-gcp.team-rocket.kodeverk-api/.default"
    - name: OPPSLAG_ARBEIDSSOEKERREGISTERET_URL
      value: "http://paw-arbeidssoekerregisteret-api-oppslag.paw"
    - name: OPPSLAG_ARBEIDSSOEKERREGISTERET_SCOPE
      value: "api://prod-gcp.paw.paw-arbeidssoekerregisteret-api-oppslag/.default"
    - name: ENSLIG_FORSORGER_URL
      value: "http://familie-ef-sak.teamfamilie"
    - name: ENSLIG_FORSORGER_SCOPE
      value: "api://prod-gcp.teamfamilie.familie-ef-sak/.default"
    - name: AAP_URL
      value: "http://aap-api-intern.aap"
    - name: AAP_SCOPE
      value: "api://prod-gcp.aap.aap-api-intern/.default"
