# ref https://raw.githubusercontent.com/nais/naiserator/master/examples/nais-max.yaml
apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: veilarbportefolje
  namespace: pto
  labels:
    team: pto
spec:
  image: {{image}}
  replicas:
    min: 2
    max: 3
    cpuThresholdPercentage: 50
  port: 8080
  ingresses:
    - https://veilarbportefolje.dev.intern.nav.no
    - https://veilarbportefolje.dev-fss-pub.nais.io
  webproxy: true
  secureLogs:
    enabled: true
  kafka:
    pool: nav-dev
  vault:
    enabled: true
    paths:
      - kvPath: /serviceuser/data/dev/srvveilarbportefolje
        mountPath: /var/run/secrets/nais.io/service_user
      - kvPath: /kv/preprod/fss/veilarbportefolje/q1
        mountPath: /var/run/secrets/nais.io/vault
  envFrom:
    - configmap: pto-config
    - secret: veilarbportefolje-unleash-api-token
  liveness:
    path: veilarbportefolje/internal/isAlive
    initialDelay: 60
    timeout: 10
  readiness:
    path: veilarbportefolje/internal/isReady
    initialDelay: 60
    timeout: 10
  prometheus:
    enabled: true
    path: veilarbportefolje/internal/prometheus
  openSearch:
    access: admin
    instance: veilarbportefolje
  azure:
    application:
      allowAllUsers: true
      enabled: true
      claims:
        extra:
          - NAVident
          - azp_name
  accessPolicy:
    inbound:
      rules:
        - application: veilarbportefoljeflatefs
          namespace: obo
          cluster: dev-gcp
        - application: veilarbpersonflate
          namespace: poao
          cluster: dev-gcp
        - application: pto-admin
          namespace: pto
          cluster: dev-fss
        - application: azure-token-generator
          namespace: aura
          cluster: dev-gcp
    outbound:
      external:
        - host: team-obo-unleash-api.nav.cloud.nais.io
  resources:
    limits:
      cpu: "4"
      memory: 8Gi
    requests:
      cpu: "1"
      memory: 4Gi
  env:
    - name: JAVA_OPTS
      value: "-Xms4098m -Xmx8096m --illegal-access=permit --add-opens=java.base/java.lang=ALL-UNNAMED"
    - name: VEILARBOPPFOLGING_URL
      value: "http://veilarboppfolging.pto.svc.nais.local/veilarboppfolging"
    - name: VEILARBOPPFOLGING_TOKEN_SCOPE
      value: "api://dev-fss.pto.veilarboppfolging/.default"
    - name: VEILARBVEDTAKSSTOTTE_URL
      value: "http://veilarbvedtaksstotte.pto.svc.nais.local/veilarbvedtaksstotte"
    - name: VEILARBVEDTAKSSTOTTE_TOKEN_SCOPE
      value: "api://dev-fss.pto.veilarbvedtaksstotte/.default"
    - name: VEILARBVEILEDER_URL
      value: "http://veilarbveileder.pto.svc.nais.local/veilarbveileder"
    - name: VEILARBVEILEDER_TOKEN_SCOPE
      value: "api://dev-fss.pto.veilarbveileder/.default"
    - name: PDL_URL
      value: "http://pdl-api.pdl.svc.nais.local"
    - name: PDL_TOKEN_SCOPE
      value: "api://dev-fss.pdl.pdl-api/.default"
    - name: POAO_TILGANG_URL
      value: "http://poao-tilgang.poao.svc.nais.local"
    - name: POAO_TILGANG_TOKEN_SCOPE
      value: "api://dev-fss.poao.poao-tilgang/.default"
    - name: KODEVERK_URL
      value: "https://kodeverk-api.nav.no"
    - name: KODEVERK_SCOPE
      value: "api://dev-gcp.team-rocket.kodeverk-api/.default"
