# ref https://raw.githubusercontent.com/nais/naiserator/master/examples/nais-max.yaml
apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: veilarbportefolje
  namespace: obo
  labels:
    team: obo
spec:
  image: {{image}}
  replicas:
    min: 1
    max: 3
    cpuThresholdPercentage: 50
  port: 8080
  ingresses:
    - https://veilarbportefolje.intern.dev.nav.no
  webproxy: true
  leaderElection: true
  secureLogs:
    enabled: true
  kafka:
    pool: nav-dev
  envFrom:
    - secret: veilarbportefolje-unleash-api-token
  liveness:
    path: veilarbportefolje/internal/isAlive
    initialDelay: 60
    timeout: 10
  readiness:
    path: veilarbportefolje/internal/isReady
    initialDelay: 60
    timeout: 10
  prometheus:
    enabled: true
    path: veilarbportefolje/internal/prometheus
  openSearch:
    access: admin
    instance: veilarbportefolje
  gcp:
    sqlInstances:
      - type: POSTGRES_15
        tier: db-custom-1-3840
        databases:
          - name: veilarbportefolje
            envVarPrefix: DB
  azure:
    application:
      allowAllUsers: true
      enabled: true
      claims:
        extra:
          - NAVident
          - azp_name
  accessPolicy:
    inbound:
      rules:
        - application: veilarbportefoljeflatefs
          namespace: obo
          cluster: dev-gcp
        - application: veilarbpersonflate
          namespace: poao
          cluster: dev-gcp
        - application: poao-admin
          namespace: poao
          cluster: dev-gcp
        - application: azure-token-generator
          namespace: nais
          cluster: dev-gcp
        - application: inngar
          namespace: dab
          cluster: dev-gcp
    outbound:
      rules:
        - application: kodeverk-api
          namespace: team-rocket
        - application: pdl-api
          namespace: pdl
          cluster: dev-fss
        - application: veilarbarena
          namespace: pto
          cluster: dev-fss
        - application: veilarbveileder
          namespace: pto
          cluster: dev-fss
        - application: poao-tilgang
          namespace: poao
        - application: paw-arbeidssoekerregisteret-api-oppslag
          namespace: paw
        - application: veilarbvedtaksstotte
          namespace: obo
        - application: veilarboppfolging
          namespace: poao
        - application: veilarbveileder
          namespace: obo
      external:
        - host: team-obo-unleash-api.nav.cloud.nais.io
        - host: pdl-api.dev-fss-pub.nais.io
        - host: veilarbarena.dev-fss-pub.nais.io
  resources:
    limits:
      cpu: "4"
      memory: 8Gi
    requests:
      cpu: "1"
      memory: 4Gi
  env:
    - name: JAVA_OPTS
      value: "-Xms4098m -Xmx8096m --illegal-access=permit --add-opens=java.base/java.lang=ALL-UNNAMED"
    - name: VEILARBOPPFOLGING_URL
      value: "http://veilarboppfolging.poao/veilarboppfolging"
    - name: VEILARBOPPFOLGING_TOKEN_SCOPE
      value: "api://dev-gcp.poao.veilarboppfolging/.default"
    - name: VEILARBVEDTAKSSTOTTE_URL
      value: "http://veilarbvedtaksstotte.obo/veilarbvedtaksstotte"
    - name: VEILARBVEDTAKSSTOTTE_TOKEN_SCOPE
      value: "api://dev-gcp.obo.veilarbvedtaksstotte/.default"
    - name: VEILARBVEILEDER_URL
      value: "http://veilarbveileder.obo/veilarbveileder"
    - name: VEILARBVEILEDER_TOKEN_SCOPE
      value: "api://dev-gcp.obo.veilarbveileder/.default"
    - name: VEILARBARENA_URL
      value: "https://veilarbarena.dev-fss-pub.nais.io/veilarbarena"
    - name: VEILARBARENA_TOKEN_SCOPE
      value: "api://dev-fss.pto.veilarbarena/.default"
    - name: PDL_URL
      value: "https://pdl-api.dev-fss-pub.nais.io"
    - name: PDL_TOKEN_SCOPE
      value: "api://dev-fss.pdl.pdl-api/.default"
    - name: POAO_TILGANG_URL
      value: "http://poao-tilgang.poao"
    - name: POAO_TILGANG_TOKEN_SCOPE
      value: "api://dev-gcp.poao.poao-tilgang/.default"
    - name: KODEVERK_URL
      value: "http://kodeverk-api.team-rocket"
    - name: KODEVERK_SCOPE
      value: "api://dev-gcp.team-rocket.kodeverk-api/.default"
    - name: OPPSLAG_ARBEIDSSOEKERREGISTERET_URL
      value: "http://paw-arbeidssoekerregisteret-api-oppslag.paw"
    - name: OPPSLAG_ARBEIDSSOEKERREGISTERET_SCOPE
      value: "api://dev-gcp.paw.paw-arbeidssoekerregisteret-api-oppslag/.default"
