name: Deploy opensearch til Dev
on:
  workflow_dispatch:

jobs:
  deploy-opensearch:
    name: Deploy opensearch
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: ".nais/application/opensearch-dev.yaml"
